<div class="container-fluid">

  <app-page-title title="Sale Manage" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <!--          <div class="row mb-2">-->
          <!--            <div class="col-sm-4">-->
          <!--              <div class="search-box me-2 mb-2 d-inline-block">-->
          <!--                <div class="position-relative">-->
          <!--                  <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="term" />-->
          <!--                  <i class="bx bx-search-alt search-icon"></i>-->
          <!--                </div>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--            <div class="col-sm-8">-->
          <!--              <div class="text-sm-end">-->
          <!--                <button type="button" class="btn btn-success btn-rounded mb-2 mr-2" (click)="openModal(content)">-->
          <!--                  <i class="mdi mdi-plus me-1"></i> New Customers-->
          <!--                </button>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--            &lt;!&ndash; end col&ndash;&gt;-->
          <!--          </div>-->
          <div class="table-responsive">
            <table class="table align-middle table-nowrap">
              <thead>
              <tr>
                <th>#</th>
                <th>Id</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Status</th>
                <th>Role</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let customers of allUsers  | filter:term ;let i = index;">
                <td>
                  <div class="form-check font-size-16">
                    <input id="customCheck{{i}}" type="checkbox" class="form-check-input" />
                    <label class="form-check-label" for="customCheck{{i}}">&nbsp;</label>
                  </div>
                </td>
                <td>{{customers.account_id}}</td>
                <td>
                  {{customers.full_name}}
                </td>

                <td>{{customers.email}}</td>
                <td>{{customers.phone}}</td>
                <td>
                  <div class="custom-control custom-switch">
                    <label
                      class="custom-control-label"
                      *ngIf="customers.active == true"
                      [for]="customers.username"
                    >User is active</label
                    >
                    <label
                      class="custom-control-label"
                      *ngIf="customers.active == false"
                      [for]="customers.username"
                    >User is inactive</label
                    >
                  </div></td>
                <td>{{customers.role}}</td>
                <td>
                  <div class="dropdown" ngbDropdown placement="bottom-right">
                    <a href="javascript: void(0);" class="dropdown-toggle card-drop" data-toggle="dropdown"
                       ngbDropdownToggle aria-expanded="false">
                      <i class="mdi mdi-dots-horizontal font-size-18"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                      <li><a (click)="openModalUpdate(updateModal,customers)" class="dropdown-item"><i
                        class="fas fa-pencil-alt text-success me-1"></i>
                        Add Cart</a></li>
                                            <li><a (click)="openModal(content)" class="dropdown-item"><i
                                              class="fas fa-trash-alt text-danger me-1"></i>
                                              View Cart</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- pagination -->
          <!--          <ngb-pagination [collectionSize]="50" [(page)]="currentpage"-->
          <!--                          class="pagination pagination-rounded justify-content-end mb-2" aria-label="Default pagination">-->
          <!--          </ngb-pagination>-->
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

<!-- Standard Modal -->
<ng-template #updateModal role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Update Customer</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="updateUser()" [formGroup]="formUpdate">
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label class="control-label">Account Id</label>
            <input class="form-control" placeholder="Enter Account Id" type="text" name="accountId" autocomplete="off" formControlName="accountId"
                   [ngClass]="{'is-invalid': submitted && formUpdateUser.accountId.errors}" />
            <div *ngIf="submittedUpdateUser && formUpdateUser.accountId.errors" class="invalid-feedback">
              <span *ngIf="formUpdateUser.accountId.errors.required">Account Id is required.</span>
            </div>
          </div>
          <div class="mb-3">
            <label class="control-label">Email</label>
            <input class="form-control" placeholder="Enter email" type="text" name="email" autocomplete="off" formControlName="email"
                   [ngClass]="{'is-invalid': submitted && formUpdateUser.email.errors}" />
            <div *ngIf="submittedUpdateUser && formUpdateUser.email.errors" class="invalid-feedback">
              <span *ngIf="formUpdateUser.email.errors.required">Email is required.</span>
              <span *ngIf="formUpdateUser.email.errors.pattern">This value should be a valid email.</span>
            </div>
          </div>
          <div class="mb-3">
            <label class="control-label">Full Name</label>
            <input class="form-control" placeholder="Enter Full Name" type="text" name="fullName" autocomplete="off" formControlName="fullName"
                   [ngClass]="{'is-invalid': submitted && formUpdateUser.fullName.errors}" />
            <div *ngIf="submittedUpdateUser && formUpdateUser.fullName.errors" class="invalid-feedback">
              <span *ngIf="formUpdateUser.fullName.errors.required">Full Name is required.</span>
            </div>
          </div>
          <div class="mb-3">
            <label class="control-label">Role: </label>
            <select  *ngIf="userRoles.length > 0" name ="roleId" class="form-select" style="width: 80%;"
                     autocomplete="off" formControlName="roleId"
                     [ngClass]="{'is-invalid': formUpdateUser && formUpdateUser.roleId.errors}">
              <option *ngFor="let role of userRoles" [value]="role.id">{{ role?.roleName }}</option>
            </select>

            <div *ngIf="submittedUpdateUser && formUpdateUser.roleId.errors" class="invalid-feedback">
              <span *ngIf="formUpdateUser.roleId.errors.required">Role is required.</span>
            </div>
          </div>
          <div class="mb-3">
            <label class="control-label">Active: </label>
            <select  *ngIf="userRoles.length > 0" name ="active" class="form-select" style="width: 80%;"
                     autocomplete="off" formControlName="active"
                     [ngClass]="{'is-invalid': formUpdateUser && formUpdateUser.active.errors}">
              <option *ngFor="let status of listStatus" [value]="status.status">{{ status?.name }}</option>
            </select>
            <div *ngIf="submittedUpdateUser && formUpdateUser.active.errors" class="invalid-feedback">
              <span *ngIf="formUpdateUser.active.errors.required">Active is required.</span>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success" id="save-event">
        Save
      </button>
    </form>
  </div>
</ng-template>
<!--<ng-template #content role="document" let-modal>-->
<!--  <div class="modal-header">-->
<!--    <h5 class="modal-title mt-0">Add Customer</h5>-->
<!--    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>-->
<!--  </div>-->
<!--  <div class="modal-body">-->
<!--    <form (ngSubmit)="saveCustomer()" [formGroup]="formData">-->
<!--      <div class="row">-->
<!--        <div class="col-12">-->
<!--          <div class="mb-3">-->
<!--            <label class="control-label">Username</label>-->
<!--            <input class="form-control" placeholder="Enter Username" type="text" name="title" autocomplete="off" formControlName="username"-->
<!--                   [ngClass]="{'is-invalid': submitted && form.username.errors}" />-->
<!--            <div *ngIf="submitted && form.username.errors" class="invalid-feedback">-->
<!--              <span *ngIf="form.username.errors.required">Username is required.</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="mb-3">-->
<!--            <label class="control-label">Email</label>-->
<!--            <input class="form-control" placeholder="Enter email" type="text" name="email" autocomplete="off" formControlName="email"-->
<!--                   [ngClass]="{'is-invalid': submitted && form.email.errors}" />-->
<!--            <div *ngIf="submitted && form.email.errors" class="invalid-feedback">-->
<!--              <span *ngIf="form.email.errors.required">Email is required.</span>-->
<!--              <span *ngIf="form.email.errors.pattern">This value should be a valid email.</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="mb-3">-->
<!--            <label class="control-label">Phone</label>-->
<!--            <input class="form-control" placeholder="Enter phone" type="text" name="phone" autocomplete="off" formControlName="phone"-->
<!--                   [ngClass]="{'is-invalid': submitted && form.phone.errors}" />-->
<!--            <div *ngIf="submitted && form.phone.errors" class="invalid-feedback">-->
<!--              <span *ngIf="form.phone.errors.required">Phone is required.</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="mb-3">-->
<!--            <label class="control-label">Address</label>-->
<!--            <input class="form-control" placeholder="Enter address" type="text" autocomplete="off" name="address" formControlName="address"-->
<!--                   [ngClass]="{'is-invalid': submitted && form.address.errors}" />-->
<!--            <div *ngIf="submitted && form.address.errors" class="invalid-feedback">-->
<!--              <span *ngIf="form.address.errors.required">Address is required.</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="mb-3">-->
<!--            <label class="control-label">Balance</label>-->
<!--            <input class="form-control" placeholder="Enter balance" type="text" autocomplete="off" name="balance" formControlName="balance"-->
<!--                   [ngClass]="{'is-invalid': submitted && form.address.errors}" />-->
<!--            <div *ngIf="submitted && form.balance.errors" class="invalid-feedback">-->
<!--              <span *ngIf="form.balance.errors.required">balance is required.</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <button type="submit" class="btn btn-success" id="btn-save-event">-->
<!--        Save-->
<!--      </button>-->
<!--    </form>-->
<!--  </div>-->
<!--</ng-template>-->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Cart Details</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p class="mb-2">
      Product id:
      <span class="text-primary">#SK2540</span>
    </p>
    <p class="mb-4">
      Billing Name:
      <span class="text-primary">Neal Matthews</span>
    </p>
    <div class="table-responsive">
      <table class="table table-centered table-nowrap">
        <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col">Product Name</th>
          <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">
            <div>
              <img src="assets/images/product/img-7.png" alt class="avatar-sm" />
            </div>
          </th>
          <td>
            <div>
              <h5 class="text-truncate font-size-14">Wireless Headphone (Black)</h5>
              <p class="text-muted mb-0">$ 225 x 1</p>
            </div>
          </td>
          <td>$ 255</td>
        </tr>
        <tr>
          <th scope="row">
            <div>
              <img src="assets/images/product/img-4.png" alt class="avatar-sm" />
            </div>
          </th>
          <td>
            <div>
              <h5 class="text-truncate font-size-14">Phone patterned cases</h5>
              <p class="text-muted mb-0">$ 145 x 1</p>
            </div>
          </td>
          <td>$ 145</td>
        </tr>
        <tr>
          <td colspan="2">
            <h6 class="m-0 text-end">Sub Total:</h6>
          </td>
          <td>$ 400</td>
        </tr>
        <tr>
          <td colspan="2">
            <h6 class="m-0 text-end">Shipping:</h6>
          </td>
          <td>Free</td>
        </tr>
        <tr>
          <td colspan="2">
            <h6 class="m-0 text-end">Total:</h6>
          </td>
          <td>$ 400</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

