<div class="container-fluid">

  <app-page-title title="Sale Manage" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <!--          <div class="row mb-2">-->
          <!--            <div class="col-sm-4">-->
          <!--              <div class="search-box me-2 mb-2 d-inline-block">-->
          <!--                <div class="position-relative">-->
          <!--                  <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="term" />-->
          <!--                  <i class="bx bx-search-alt search-icon"></i>-->
          <!--                </div>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--            <div class="col-sm-8">-->
          <!--              <div class="text-sm-end">-->
          <!--                <button type="button" class="btn btn-success btn-rounded mb-2 mr-2" (click)="openModal(content)">-->
          <!--                  <i class="mdi mdi-plus me-1"></i> New Customers-->
          <!--                </button>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--            &lt;!&ndash; end col&ndash;&gt;-->
          <!--          </div>-->
          <div class="table-responsive">
            <table class="table align-middle table-nowrap">
              <thead>
              <tr>
                <th>#</th>
                <th>Id</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Status</th>
                <th>Role</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let customers of allUsers  | filter:term ;let i = index;">
                <td>
                  <div class="form-check font-size-16">
                    <input id="customCheck{{i}}" type="checkbox" class="form-check-input" />
                    <label class="form-check-label" for="customCheck{{i}}">&nbsp;</label>
                  </div>
                </td>
                <td>{{customers.account_id}}</td>
                <td>
                  {{customers.full_name}}
                </td>

                <td>{{customers.email}}</td>
                <td>{{customers.phone_number}}</td>
                <td>
                  <div class="custom-control custom-switch">
                    <label
                      class="custom-control-label"
                      *ngIf="customers.active == true"
                      [for]="customers.username"
                    >User is active</label
                    >
                    <label
                      class="custom-control-label"
                      *ngIf="customers.active == false"
                      [for]="customers.username"
                    >User is inactive</label
                    >
                  </div></td>
                <td>{{customers.role}}</td>
                <td>
                  <div class="dropdown" ngbDropdown placement="bottom-right">
                    <a href="javascript: void(0);" class="dropdown-toggle card-drop" data-toggle="dropdown"
                       ngbDropdownToggle aria-expanded="false">
                      <i class="mdi mdi-dots-horizontal font-size-18"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                      <li><a (click)="openModalUpdate(updateModal,customers)" class="dropdown-item"><i
                        class="fas fa-pencil-alt text-success me-1"></i>
                        Add Cart</a></li>
                                            <li><a (click)="getProductCart(customers,content)" class="dropdown-item"><i
                                              class="fas fa-address-book text-danger me-1"></i>
                                              View Cart</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- pagination -->
          <!--          <ngb-pagination [collectionSize]="50" [(page)]="currentpage"-->
          <!--                          class="pagination pagination-rounded justify-content-end mb-2" aria-label="Default pagination">-->
          <!--          </ngb-pagination>-->
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

<!-- Standard Modal -->
<ng-template #updateModal role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Add product to Cart User</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="addCart()" [formGroup]="formCart">
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label class="control-label">Phone Number</label>
            <input class="form-control" placeholder="Enter Account Id" type="text" name="phoneNumber" autocomplete="off" formControlName="phoneNumber"
                   [ngClass]="{'is-invalid': submitted && formAddCart.phoneNumber.errors}" />
            <div *ngIf="submittedAddCart && formAddCart.phoneNumber.errors" class="invalid-feedback">
              <span *ngIf="formAddCart.phoneNumber.errors.required">Phone Number is required.</span>
            </div>
          </div>
          <div class="mb-3">
            <label class="control-label">Email</label>
            <input class="form-control" placeholder="Enter email" type="text" name="email" autocomplete="off" formControlName="email"
                   [ngClass]="{'is-invalid': submitted && formAddCart.email.errors}" />
            <div *ngIf="submittedAddCart && formAddCart.email.errors" class="invalid-feedback">
              <span *ngIf="formAddCart.email.errors.required">Email is required.</span>
              <span *ngIf="formAddCart.email.errors.pattern">This value should be a valid email.</span>
            </div>
          </div>
          <div class="mb-3">
            <label class="control-label">Full Name</label>
            <input class="form-control" placeholder="Enter Full Name" type="text" name="fullName" autocomplete="off" formControlName="fullName"
                   [ngClass]="{'is-invalid': submitted && formAddCart.fullName.errors}" />
            <div *ngIf="submittedAddCart && formAddCart.fullName.errors" class="invalid-feedback">
              <span *ngIf="formAddCart.fullName.errors.required">Full Name is required.</span>
            </div>
          </div>
          <div class="mb-3">
            <label class="control-label">Product Id</label>
            <input class="form-control" placeholder="Enter Product Id" type="text" name="productId" autocomplete="off" formControlName="productId"
                   [ngClass]="{'is-invalid': submitted && formAddCart.productId.errors}" />
            <div *ngIf="submittedAddCart && formAddCart.productId.errors" class="invalid-feedback">
              <span *ngIf="formAddCart.productId.errors.required">Product Id is required.</span>
            </div>
          </div>
          <div class="mb-3">
            <label class="control-label">Size diamond: </label>
            <select  *ngIf="listDiamond.length > 0" name ="size" class="form-select" style="width: 80%;"
                     autocomplete="off" formControlName="size"
                     [ngClass]="{'is-invalid': formAddCart && formAddCart.size.errors}">
              <option value="" selected="selected">By size diamond</option>
              <option *ngFor="let diamond of listDiamond" [value]="diamond.name">{{ diamond?.name }} - {{convertNumber(diamond?.price)}}</option>
            </select>

            <div *ngIf="submittedAddCart && formAddCart.roleId.errors" class="invalid-feedback">
              <span *ngIf="formAddCart.roleId.errors.required">Role is required.</span>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success" id="save-event">
        Save
      </button>
    </form>
  </div>
</ng-template>
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Cart Details</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="closeModalCart()"></button>
  </div>
  <div class="modal-body">
    <p class="mb-2">
      Phone Number:
      <span class="text-primary">{{this.customerPhoneNumber}}</span>
    </p>
    <p class="mb-4">
      Customer Name:
      <span class="text-primary">{{this.customerName}}</span>
    </p>
    <div class="table-responsive">
      <table class="table table-centered table-nowrap">
        <thead>
        <tr>
          <th scope="col">Product</th>
          <th scope="col">Product Name</th>
          <th scope="col">Price</th>
          <th scope="col">Size</th>
        </tr>
        </thead>
        <tbody *ngIf="cartProduct.length >0">
        <tr *ngFor="let item of cartProduct">
          <th scope="row">
            <div>
              <img src="{{item.image_url}}" alt class="avatar-sm" />
            </div>
          </th>
          <td>
            <div>
              <h5 class="text-truncate font-size-14">{{item.jewelry_title}}</h5>
              <p class="text-muted mb-0">VNĐ{{item.price_items}} x {{item.quantity_number}}</p>
            </div>
          </td>
          <td>{{convertNumber(item.price_items)}} VNĐ</td>
          <td>{{item.size}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="closeModalCart()">Close</button>
  </div>
</ng-template>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

